<h2>Shorten</h2>

<form class="form-inline" action="/shorten" method="post">
	<div class="form-group">
		<input class="form-control input-lg" type="text" name="url" size="35">
		<input type="submit" class="btn btn-primary btn-lg">
	</div>
</form>